<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary">1</button>
      <button type="button" class="btn btn-secondary">2</button>
      <button type="button" class="btn btn-secondary">3</button>
      <button type="button" class="btn btn-secondary">4</button>
    </div>
</div>


<mat-button-toggle-group #group="matButtonToggleGroup" >
    <mat-button-toggle *ngFor="let word of review_words" >
          {{scramble(word.word)}}
      </mat-button-toggle>
  </mat-button-toggle-group>
  