<div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
  <h3>What's the word?</h3>
  <div fxLayout="row">
        <mat-button-toggle (click)="removeLetter(i)" *ngFor="let letter of answer; let i = index" [ngClass]="{'wrong': (currentWord.word.substr(i, 1) != letter && lettersPushed > i), 'success': (currentWord.word.substr(i, 1) == letter)}" class="scrambble">
                {{letter}}
        </mat-button-toggle>

  </div>
  <img class="img-fluid" width="128" src="/assets/avatars/victory-gif-2.gif" *ngIf="correct">
<h1 *ngIf="correct" class="text-warning">Congratulations! <mat-icon>star_rate</mat-icon>×10</h1>
  <mat-button-toggle-group #group="matButtonToggleGroup">
        <button mat-fab color="primary" *ngFor="let letter of currentWord.scrambble" [disabled]="correct" (click)="submitLetter(letter)">{{letter}}</button>
 
  </mat-button-toggle-group>
<section>
  <h3>Definition:</h3>
  <small>{{currentWord.type}}</small>
  <p class="lead">{{currentWord.definitions[0]}}</p>
</section>
  <button mat-raised-button color="accent" (click)="prepareResponse()" [disabled]="!correct">Next</button>
</div>
