<div fxLayout="row" *ngIf="index == 0">
    <mat-card fxFlex="33" fxFlex.gt-md="20">
        <img src="/assets/avatars/alien 1.png" class="img-responsive locked" width="100%">
      </mat-card>
      <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
      <mat-card fxFlex="33" fxFlex.gt-md="20">
          <img src="/assets/avatars/alien 2.png" class="img-responsive" width="100%">
        </mat-card>
        <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
        <mat-card fxFlex="33" fxFlex.gt-md="20">
            <img src="/assets/avatars/alien 3.png" class="img-responsive" width="100%">
          </mat-card>
</div>
<div fxLayout="row" *ngIf="index == 1">
    <mat-card fxFlex="33" fxFlex.gt-md="20">
        <img src="/assets/avatars/electric lizard 1.png" class="img-responsive" width="100%">
      </mat-card>
      <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
      <mat-card fxFlex="33" fxFlex.gt-md="20">
          <img src="/assets/avatars/electric lizard 2.png" class="img-responsive" width="100%">
        </mat-card>
        <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
        <mat-card fxFlex="33" fxFlex.gt-md="20">
            <img src="/assets/avatars/electric lizard 3.png" class="img-responsive" width="100%">
          </mat-card>
</div>
<div fxLayout="row" *ngIf="index == 2">
    <mat-card fxFlex="33" fxFlex.gt-md="20">
        <img src="/assets/avatars/paper-book 1.png" class="img-responsive" width="100%">
      </mat-card>
      <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
      <mat-card fxFlex="33" fxFlex.gt-md="20">
          <img src="/assets/avatars/paper-book 2.png" class="img-responsive" width="100%">
        </mat-card>
        <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
        <mat-card fxFlex="33" fxFlex.gt-md="20">
            <img src="/assets/avatars/paper-book 3.png" class="img-responsive" width="100%">
          </mat-card>
</div>
<div fxLayout="row" *ngIf="index == 3">
    <mat-card fxFlex="33" fxFlex.gt-md="20">
        <img src="/assets/avatars/shark-fish 1.png" class="img-responsive" width="100%">
      </mat-card>
      <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
      <mat-card fxFlex="33" fxFlex.gt-md="20">
          <img src="/assets/avatars/shark-fish 2.png" class="img-responsive" width="100%">
        </mat-card>
        <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
        <mat-card fxFlex="33" fxFlex.gt-md="20">
            <img src="/assets/avatars/shark-fish 3.png" class="img-responsive" width="100%">
          </mat-card>
</div>
<div fxLayout="row" *ngIf="index == 4">
    <mat-card fxFlex="33" fxFlex.gt-md="20">
        <img src="/assets/avatars/spaceship 1.png" class="img-responsive" width="100%">
      </mat-card>
      <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
      <mat-card fxFlex="33" fxFlex.gt-md="20">
          <img src="/assets/avatars/spaceship 2.png" class="img-responsive" width="100%">
        </mat-card>
        <mat-icon fxFlexAlign="center">arrow_right</mat-icon>
        <mat-card fxFlex="33" fxFlex.gt-md="20">
            <img src="/assets/avatars/spaceship 3.png" class="img-responsive" width="100%">
          </mat-card>
</div>