x
<div fxLayout="row wrap" fxLayoutAlign="flex-start">
  <div fxLayout="column">

    <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
    </fusioncharts>
    <p>Calendar</p>
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>

  </div>

  <div fxLayout="column">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    >
        <!-- *ngFor="let i of classes"; Let i : index  -->
    <!-- *ngFor="Let j of finished" -->
    <!-- *ngFor="Let k of total" -->

      <mat-expansion-panel-header>

        <mat-panel-title>
          {{i}}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <!-- <p>Answered {{j}}/{{k}}</p> -->

    </mat-expansion-panel>
  </div>

</div>