.css-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 33% 67%; // two columns
    grid-template-rows: 33% 67%; // two rows
    height: 100%;
    width: 100%;
  
    .css-grid-tile {
      &.top-left {
        grid-column: 1 / 2;
      }
  
      &.top-right {
        grid-column: 2 / 3;
      }
  
      &.bottom {
        grid-column: 1 / 3;
      }
    }
  }