<!-- <div fxLayout="row wrap"> 
  <div fxLayout="column"> 
    <mat-icon>class</mat-icon>
    <mat-icon>class1</mat-icon>
    <mat-icon>class2</mat-icon>
    <mat-icon>class3</mat-icon>
  </div>
  <div fxLayout="column">
      <p>row</p>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
  </div>

</div> -->


<div fxLayout="row wrap">
  <div fxLayout="column">
    
  </div>
  <div fxLayout="column">

  </div>
</div>