<div >
  <mat-grid-list cols="2" rowHeight="3:1" fxLayoutAlign="space-evenly">
    <mat-grid-tile *ngFor="let word of review_words">
      <mat-card fxFlex="35" >
        <mat-card-title>{{word.word}}</mat-card-title>
        <mat-card-subtitle>{{word.type}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{word.definition}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button mat-raised-button color="primary" routerLink="/gotschool/scrambble_play">Play</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>