<!-- <div fxLayout="column">
<span fxFlex="20vh"></span>
<mat-button-toggle-group #group="matButtonToggleGroup" fxLayoutAlign="space-evenly">
    <button mat-fab color="primary" >Hay</button>
    <button mat-fab color="primary" >Ahí</button>
    <button mat-fab color="primary" >Ay</button>
</mat-button-toggle-group>
</div> -->


<div class="skype-button bubble" class="skype-button bubble " data-contact-id="hipster.god"></div>
<div fxLayoutAlign="center center"> 
        <span class="skype-button bubble " data-contact-id="hipster.god" ></span>
        <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
</div>
